<!--The content below is only a placeholder and can be replaced.-->
<h1 style="text-align:center">
{{title}}
</h1>

<ul *ngFor="let hero of heroes" >
  <li (click)="deleteHero(hero.name)">{{hero.name}}</li>
</ul>


<br>
<input type="text" #heroInput>

<button (click)="deleteHero(heroInput.value)">Delete hero</button>
<div *ngIf="name">{{name}}</div>

<button disabled="false">仍被禁用</button>
<img [src]="srcc" alt="">

<div [ngClass]="classes">[ngClass] binding to the classes property</div>
<app-test [hero]="name"></app-test>

<div [class.special]="isSpecial">The class binding is special</div>

